{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="col-md-3 px-lg-3">
                <a class="navbar-brand" href="#"><i class="fas fa-tint"></i> Su Tesisatçısı</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-md-6">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link menu" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="">yee aynow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="#">Link</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </nav>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-12">

        </div>
    </div>
</div>
{% endblock %}
