{% extends 'base.html.twig' %}


{% block body %}
    {{ render(controller(
        'App\\Controller\\HomeController:header'
    )) }}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <p class="text-center display-5 border-bottom">
                    {{ bolgeler.isim }} Su Tesisatı
                </p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            {% for mahalles in mahalle %}
                <div class="col-md-5 mx-5 my-2">
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ mahalles.isim }}
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-md-center my-5">
            <div class="col-md-5 text-center">
                <p class="h3">İletişim</p>
                <hr>
                <div class="d-grid gap-2 my-3">
                    <a href="" class="btn btn-purple">Tıkla Ara <i class="fas fa-phone"></i></a>
                </div>
                <div class="d-grid gap-2 my-3">
                    <a href="" class="btn btn-success">Whatsapp İletişim <i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% include 'home/inc/footer.html.twig' %}
{% endblock %}
