body
{
background-color: #F3F3F3;
}
.logo{
    width: 50px;
    height: 37px;
}
.tesisat-flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.weight-normal
{
    font-weight: 200;
}
.mt-10
{
    margin-top: 6rem !important;
}
.tksl-shadow{
    -webkit-box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
}
.tksl-radius
{
    border-radius: 15px;
}
.brand-title
{
    font-size: 25px;
    font-weight: 700;
}
.features-t
{
    font-size: 22px;
}
.features-c
{
    font-size: 15px;
    color:gray;
}
.border-bottom
{
    border-bottom: 1px solid gray;
    border-radius: 50%;
    padding-bottom: 15px;
}
.content-c
{
    font-size: 18px;
    color:gray;
}
.carousel-img
{
    width: 1920px;
    height: 500px;
    object-fit: cover;
    filter: invert(20%);

}
.carousel-text-bg
{
    padding: 15px;
    margin: 0 300px;
}
.carousel-text
{
    text-shadow:1px 1px black;
}
.hizmet-img
{
    object-fit: cover;
    width: 720px;
    height: 420px;
}
.admin-img
{
    width: 50px;
    height: 25px;
    object-fit: cover;
}
.getSetting{
    text-decoration: none;
    border:0px;
    background: none;
}
.input-group-text{
    background: none;
    border:none;
    color:white;
}
.p-b-zero{
    margin:0px;
    padding:0px;
}