body
{
background-color: #F3F3F3;
}
.logo{
    width: 50px;
    height: 37px;
}
.tesisat-flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.purple
{
    color: #AD33FF;
}
.weight-normal
{
    font-weight: 200;
}
.mt-10
{
    margin-top: 6rem !important;
}
.tksl-shadow{
    -webkit-box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
}
.tksl-radius
{
    border-radius: 35px;
}
.menu{
    font-size: 22px;
    margin-right: 25px;
    border-bottom: 2px solid #AD33FF;
}
.brand-title
{
    font-size: 25px;
    font-weight: 700;
}
.btn-purple
{
    color: #fff;
    background-color: #AD33FF;
    border-color: #AD33FF;
}
.features-i
{
    font-size: 25px;
    color:#AD33FF;
}
.features-t
{
    font-size: 22px;
}
.features-c
{
    font-size: 15px;
    color:gray;
}
.services
{
    border-bottom:1px solid #AD33FF;
    border-radius: 100%;
    font-size: 22px;
    -webkit-box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 16px -15px rgba(0,0,0,0.75);
}
.services-link
{
    color: #7a00cc;
    text-decoration: none;
}
.border-bottom
{
    border-bottom: 1px solid gray;
    border-radius: 50%;
    padding-bottom: 15px;
}
.content-i
{
    object-fit: cover;
    width: 500px;
    height: 250px;
    border-radius: 2%;
    -webkit-box-shadow: 0px 10px 16px -15px rgba(173,51,255,1);
    -moz-box-shadow: 0px 10px 16px -15px rgba(173,51,255,1);
    box-shadow: 0px 10px 16px -15px rgba(173,51,255,1);
}
.content-t
{
    color:#7a00cc;
    font-size: 25px;
}
.content-c
{
    font-size: 18px;
    color:gray;
}
.footer-u
{
    background-color: #7a00cc;
    color:white;

}
.carousel-img
{
    width: 1920px;
    height: 500px;
    object-fit: cover;
    filter: invert(20%);

}
.carousel-text-bg
{
    padding: 15px;
    margin: 0 300px;
}
.carousel-text
{
    text-shadow:1px 1px black;
}
.hizmet-img
{
    object-fit: cover;
    width: 420px;
    height: 320px;
}
.admin-img
{
    width: 50px;
    height: 25px;
    object-fit: cover;
}
.getSetting{
    text-decoration: none;
    border:0px;
    background: none;
}
.input-group-text{
    background: none;
    border:none;
    color:white;
}
.p-b-zero{
    margin:0px;
    padding:0px;
}