<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Su Tesisatçısı{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="language" content="Turkish">
        <meta name="revisit-after" content="1 days">
        <meta name="author" content="İbrahim TUKSAL">
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="/assets/js/bootstrap.bundle.js"></script>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script>
            $('.owl-carousel').owlCarousel({
                loop:false,
                margin:10,
                nav:false,
                autoplay:true,
                autoplayTimeout:1500,
                autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1
                    },
                    700:{
                        items:2
                    },
                    1200:{
                        items:3
                    },
                    1500:{
                        items:3
                    }
                }
            })
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script src="/assets/js/bootstrap.js"></script>
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.js"></script>
        </body>
</html>
