{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            {{ form(contentform) }}
        </div>
    </div>
</div>
{% endblock %}
